@mixin float-label-container {
  position: relative;
}

@mixin float-label($label-left: 0, $label-top: 0) {
  label {
    position: absolute;
    left: $label-left;
    top: $label-top;
    transform-origin: left top;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    transition: all .2s;
    @content;
  }
}

@mixin float-label-input {
  &::-webkit-input-placeholder {
    opacity: 1;
    transition: all .2s;
  }
  &:placeholder-shown:not(:focus) {
    &::-webkit-input-placeholder {
      opacity: 0;
    }
  }
}

@mixin float-label-scaled($label-left: 0, $label-top: 0, $label-scale: 2) {
  &:placeholder-shown:not(:focus) {
    + label {
      left: $label-left;
      top: $label-top;
      transform: scale($label-scale);
      opacity: .5;
      @content;
    }
  }
}
