{% if site.data.site %}{% assign site = site.data.site %}{% endif %}

{% capture content_for_header %}
  <link rel="canonical" href="https://bladeswitch.com/">
{% endcapture %}

{% capture body %}
  <main class="container breakout-all"><br><br>
    {{ content }}
    <footer style="text-align: center"><hr>
      <small>{{ site.footer | markdownify }}</small>
    </footer>
  </main>
{% endcapture %}

{% include blades/html.liquid %}
