label:has(
  input:not([type="checkbox"], [type="radio"], [type="range"]),
  textarea,
  select
) {
  position: relative;

  > span {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    transition: all 0.2s;
    padding-inline-start: 1rem; /* match Pico */
    padding-block-start: 0.25rem;
  }

  input:not([type="checkbox"], [type="radio"], [type="range"]),
  textarea,
  select {
    margin-block-start: 0;
    padding-block: 1.125rem 0.375rem; /* match Pico's total: 2 x 0.75rem = 1.5rem */

    &::placeholder {
      opacity: 1;
      transition: all 0.2s;
    }
    &:placeholder-shown:not(:focus)::placeholder {
      opacity: 0;
    }
  }

  &:has(:placeholder-shown:not(:focus)) > span {
    font-size: inherit;
    opacity: 0.5;
    padding-block: 0.75rem; /* match Pico */
  }
}
